.footer__menu{
    border-bottom: 1px solid #e3e7f2;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__menu-item{
    padding: 10px 20px;
}

.footer__menu-link{
    color: #2e7dff;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #2e7dff;
    padding-bottom: 2px;
    white-space: nowrap;
}

.footer__menu-link:hover{
    color: #c10032;
    border-color: #c10032;
}

.footer__data-collection{
    font-size: calc((14/16)*1rem);
    font-weight: 300;
    color: #787a80;
    border-radius: 25px;
    background: #e3e7f2;
    max-width: 1200px;
    margin: 40px auto 0 auto;
    text-align: center;
    padding: 20px;
    line-height: 135%;
}

.data-collection-links{
    color: #2e7dff;
    text-decoration: none;
}

.data-collection-links:hover{
    color: #c10032;
}

.dcl-nowrap{
    white-space: nowrap;
}

.footer__details{
    font-size: calc((14/16)*1rem);
    font-weight: 300;
    color: #787a80;
    text-align: center;
    line-height: 150%;
    margin-top: 40px;
}

.footer__social{
    display: flex;
    justify-content: center;
    margin: 35px 0;
}


.footer__social-links{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #f0f4ff;
    transition: .5s;
}

.footer__social-links:hover{
    border-color: #e3e7f2;
}