html, body {
    height: 100%;
    font-family: roboto;
}

.main{
    background-color: #633758;
    display: flex;
    min-height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
}

.header{
    min-height: 80px;
    display: flex;
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    align-items: center;
    position: relative;
}

.box{
    background-color: #fff;
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}

.footer{
    background-color: #f0f4ff;
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    padding-bottom: 20px;
}

.wrapper{
    max-width: 1600px;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 0 2.5%;
}

.h1{
    font-size: calc((50/16)*1rem);
    font-family: Sybilla-Ultra;
    color: #3c3a38;
    text-align: center;
    /*padding: calc((50/16)*1rem) 0;*/
    padding: 10px 30px;
    border-bottom: 1px solid #e3e7f2;
}


.crumbs{
    font-size: calc((14/16)*1rem);
    font-weight: 300;
    color: #808080;
}

.crumbs ul{
    display: flex;
    line-height: 34px;
    margin-left: 20px;
}

.crumbs a{
    background: #f0f4ff;
    display: block;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 10px;
}

.crumbs a:after{
    content: '';
    display: block;
    background: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -26px; right: -95px;
    transform: rotate(25deg)
}

.crumbs a:before{
    content: '';
    display: block;
    background: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -39px; right: -95px;
    transform: rotate(-25deg)
}
